<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>What is Lorem Ipsum</title>
<script src="scirpt/vue/vue.js"></script>
<link href="scirpt/css/mystyle.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</head>

<body>
	<div class="nav_bar">
		<div class="nav">
			<a href="index.html">Home</a>
			<a href="About.html">About</a>
			<a href="shap.html">Shap</a>
			<a href="Contact.html">Contact</a>
			</div>	
	</div>
	<div id="shap" class="shap">
		<div class="shap_banner">
			<img src="img/shap/shap_banner_img.jpg" width="100%" alt="">
			<div class="shap_banner_text">
				<h3>Where does it come from</h3>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			</div>
		</div>
		<div class="shap_main_To">
			<h3>Store</h3>
		</div>
		<div id="shap_main" class="shap_main">
			<transition name="shap_cart_page">
			<div class="shap_cart_page" v-if="show_cart_page">
				<div class="shap_cart_page_head">
					<div>商品名稱</div>
					<div>價格</div>
					<div>數量</div>
					<div>選項</div>
				</div>
				<div class="shap_cart_no_data" v-if="shap_cart_no_data">
					<p>購物車內無任何商品</p>
				</div>
				<div class="shap_cart_data" v-for="(item , index) in list" :key="item.id">
					<div>
						<img v-bind:src="item.imgUrl" alt="">
						<p>{{ item.name }}</p>
					</div>
					<div>${{ item.price }}</div>
					<div class="shap_count">
						<button @click="del_count(item)">-</button>
						<span>{{ item.count }}</span>
						<button @click="add_count(item)">+</button>
					</div>
					<div class="shap_cart_del" @click="del_item(item.id)"><p>刪除</p></div>
				</div>
				<div class="show_cart_page_total">
					<p>總計:{{ total }}</p>
					<div>結帳去</div>
				</div>
			</div>
			</transition>
			<div class="shap_cart" @click.prevent="btn_show_cart_page()"><p><i class="fas fa-shopping-cart"></i></p></div>
			<div class="glasses01" @click.prevent="btn_show_g_page()">
				<img src="img/shap/glasses01-blue.png" width="50%" alt="">
				<div class="glasses01_text">
					<h2>come from</h2>
					<p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
				</div>
				<span><i class="fas fa-chevron-circle-down"></i></span>
			</div>
			<transition name="show">
			<div class="shap_show" v-if="show_g_page">
				<div class="shap_color">
					<div @click.prevent="show_g(1)"></div>
					<div @click.prevent="show_g(2)"></div>
					<div @click.prevent="show_g(3)"></div>
				</div>
				<transition name="component-fade" mode="out-in">
				<component v-bind:is="g_view"></component>
				</transition>
			</div>
			</transition>
			<div class="glasses01" @click.prevent="btn_show_v_page()">
				<img src="img/shap/glasses02-blue.png" width="50%" alt="">
				<div class="glasses01_text">
					<h2>Various</h2>
					<p>ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				</div>
				<span><i class="fas fa-chevron-circle-down"></i></span>
			</div>
			<transition name="show">
			<div class="shap_show" v-if="show_v_page">
				<div class="shap_color">
					<div @click.prevent="show_v(1)"></div>
					<div @click.prevent="show_v(2)"></div>
					<div @click.prevent="show_v(3)"></div>
				</div>
				<transition name="component-fade" mode="out-in">
				<component v-bind:is="v_view"></component>
				</transition>
			</div>
			</transition>
		</div>
	</div>
	<footer>
		<div class="footer_icon">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-instagram-square"></i></a>
				<a href="#"><i class="fab fa-twitter-square"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
			</div>
		<div class="footer_main">
			<div class="footer_content">
				<h3>Content</h3>
				<a href="index.html">Home</a>
				<a href="About.html">About</a>
				<a href="shap.html">Shap</a>
				<a href="Contact.html">Contact</a>
			</div>
			<div class="footer_address">
				<h3>Address</h3>
				<p>Ysitie 96</p>
				<p>33540 TAMPERE</p>
			</div>
		</div>
	  <div class="footer_span"></div>
	  <div class="footer_copyright">
			<p><i class="fas fa-copyright"></i></p>
			<p>What is Lorem Ipsum</p>
		</div>
	</footer>
	<script src="scirpt/vue/web_vueJs.js"></script>
	
	
</body>
</html>
