@charset "utf-8";
/* CSS Document */

html , body 
{
	margin: 0;
	font-family:Verdana, Geneva, sans-serif;
	width: 100%;
	height: 100%;
	letter-spacing: 3px;
	word-wrap: break-word;
}

p
{
	font-size: 12px;
}

a
{
	text-decoration: none;
}

.nav_bar
{
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 40px;
	right: 0;
	background-color:#171717;
}

.nav
{
	position: absolute;
	right: 30px;
    display: flex;
	justify-content: center;
    padding: 10px 0px;
}

.nav > a
{
	color: gray;
	transition: all 0.5s ease-out;
	padding: 10px 50px;
}

.nav > a:hover
{
	background-color: #222222;
	border-radius: 5px;
	color: silver;
	transform: scale(1.2);
}

.banner_show
{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 50px 0px;
	background-color: #171717;
	
}

.banner_label
{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	transform: translateY(-50px);
}

.banner_label_bar
{
	width: 50px;
	height: 10px;
	border: 2px solid gray;
	margin: 0px 10px;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.banner_label_bar:hover
{
	background-color: gray;
}

input[name="r"]
{
	position: absolute;
	visibility: hidden;
}


.banner
{
	width: 500%;
	height: 100%;
	display: flex;
	background-color: #181818;
}

.banner_img
{
	width: 20%;
	transition: all 0.6s ease-out;
}

.banner_img img
{
	width: 100%;
	
}

#r1:checked ~ .s1
{
	margin-left: 0;
}

#r2:checked ~ .s1
{
	margin-left: -20%;
}

#r3:checked ~ .s1
{
	margin-left: -40%;
}

#r4:checked ~ .s1
{
	margin-left: -60%;
}

#r5:checked ~ .s1
{
	margin-left: -80%;
}

.main01
{
	position: relative;
	width: 100%;
	background-color: #E2E2E2;
	padding-bottom: 10%;
	color: gray;
}

.main01_title
{
	padding-top: 15%;
	width: 100%;
	text-align: center;
	margin: 0px;
}

.main01_text
{
	width: 50%;
	text-align: center;
	padding: 10% 5% 20% 5%;
	margin: 0px auto;
}


.main01_To_02
{
	position: absolute;
	width: 100%;
	height: 30%;
	z-index: 100;
	background-color: #171717;
}


.main02
{
	margin: 0;
	position: relative;
	width: 100%;
	background-color: #171717;
	height: 100%;
	color: gray;
	padding-bottom: 15%;

}

.main02_img
{
	width: 50%;
	height: 100%;
	position: absolute;
	background-image: url(../../img/index/index_img02.png);
	background-position:40% 20%;
	background-size:cover;

}

.main02_text_div
{
	position: absolute;
	width: 30%;
	padding: 0% 5% 0% 5%;
	margin-top: 15%;
	margin-left: 50%;
	
}

.main02_text_div > p 
{
	line-height: 20px;
	padding: 10px 5px;
}

.main02_line
{
	position: absolute;
	width: 70%;
	height: 3px;
	background-color:white;
	left: 0;
	transform: translateY(-15px);
}

.main02_To_03
{
	top: 90%;
	position: absolute;
	width: 100%;
	height: 30%;
	background-color:#171717;
	z-index: 100;
	
}


.main03
{
	margin-top: 10%;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #E2E2E2;
	color: gray;
}

.main03_img
{
	position: absolute;
	width: 40%;
	height: 100%;
	left: 53%;
	background-image: url(../../img/index/index_img01.png);
	background-position: 40% 0%;
	background-size: cover;
}

.main03_text_div
{
	padding: 5% 10% 5% 5%;
	position: absolute;
	width: 30%;
	margin-top: 5%;
	left: 5%;
}

.main03_text_div > p
{
	line-height: 20px;
}

footer
{
	width: 100%;
	text-align: center;
	background-color:#171717;
}

.footer_main
{
	display: flex;
	justify-content:space-around;
	width: 100%;
}

.footer_icon
{
	display: flex;
	justify-content: center;
	padding: 50px 0px;
}

.footer_icon > a
{
	font-size: 24px;
	padding: 0px 5%;
	transition: all 0.5s ease-out;
	color:gray;
}

.footer_icon > a:hover
{
	transform: scale(1.5);
	color:silver;
}

.footer_content
{
	display: flex;
	flex-direction: column;
	color: gray;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding: 0px 30px;
}

.footer_content > a 
{
	font-size: 14px;
	color: gray;
	padding: 20px 0px;
	transition: all 0.5s ease-out;
}

.footer_content > a:hover
{
	color:silver;
	transform: scale(1.1);
}

.footer_address
{
	color: gray;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding: 0px 50px;
	text-align: left;
}

.footer_address > p
{
	font-size: 14px;
	padding: 20px 0px;
}



.footer_span
{
	width: 80%;
	height: 1px;
	border-radius: 5px;
	background-color:#626262;
	margin: 30px auto 30px auto;
	
}

.footer_copyright
{
	color: gray;
	padding: 20px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}


.footer_copyright > p
{
	padding: 0px 5px;
	font-size: 16px;
}


.about_main01
{
	position: relative;
	width: 100%;
	padding: 50px 0px 50px 0px;
	background-color: #E2E2E2;
}

.about_main01_img
{
	width: 90%;
	height: 300px;
	margin: 5% auto ;
	background-image: url(../../img/about/about-img01.jpg);
	background-size: cover;
}

.about_main01_text_div
{
	margin: 0px auto;
	width: 90%;
	padding: 0px 20px;
	text-align: center;
	margin-bottom: 10%;
}

.about_main01_text_div > h2
{
	color:gray;
	width: 50%;
	margin: 5% auto;
	font-size: 18px;
}

.about_main01_text_div > p
{
	width: 80%;
	color: gray;
	padding: 10px 5px;
	margin: auto ;
	font-size: 12px;
	line-height: 20px;
}

.about_main02
{
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#171717;
	padding-top: 50px;
}

.about_main02_card
{
	padding-top: 10%;
	width: 70%;
	display: flex;
	margin: 0px auto;
}


.about_main02_img
{
	width: 40%;
	height: 500px;
	background-image: url(../../img/about/about-img02.jpg);
	background-size: cover;
}

.about_main02_text_div
{
	color: gray;
	width: 50%;
	padding: 60px 30px;
	font-size: 18px;
}

.about_main02_text_div > p
{
	font-size: 12px;
	line-height: 20px;
}

.about_main03
{
	position: relative;
	width: 100%;
	background-color:#f9f3f3;
	padding-top: 10%;;
	padding-bottom: 10%;
}


.span
{
	width: 1px;
	height: 200px;
	background-color: gray;
	margin: auto 20px;
}


.about_main03_img
{
	width: 50%;
	height: 300px;
	margin: 5% auto;
	background-image: url(../../img/about/about-img03.png);
	background-size: cover;
	background-position: 0% 50%;
}

.about_main03_text_div
{
	color: gray;
	width: 70%;
	padding: 0px 30px;
	font-size: 18px;
	text-align: center;
	margin: 0px auto;
}

.about_main03_text_div > h2
{
	font-size: 18px;
	margin-bottom: 5%;
}

.about_main03_text_div > p
{
	font-size: 12px;
	line-height: 20px;
}

.contact_main01
{
	position: relative;
	width: 100%;
	background-color: #181818;
	text-align: center;
	color: gray;
	margin-top: -20px;
}

.contact_main01 > h2
{
	padding: 5% 0%;;
}

.contact_main01_card_div
{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20%;
}

.contact_main01_card_img
{
	width: 40%;
	height: 40%;
	background-color: aqua;
	margin:20px auto;
	padding-top: 50px;
}

.contact_main01_card > h2
{
	font-size: 16px;
	padding: 20px 5px;
}

.contact_main01_card > p
{
	font-size: 12px;
	width: 50%;
	padding-bottom: 20px;
	margin: 0px auto;
}




.contact_main02
{
	width: 100%;
	background-color: #E2E2E2;
	text-align: center;
	padding: 5% 0%;
	color: gray;
}

.contact_main02 > h2
{
	margin: 0px auto 50px auto;
}

.contact_span
{
	width: 40%;
	height: 1px;
	background-color: gray;
	margin: 5px auto;
}


.contact_form
{
	width: 70%;
	margin: auto;
	padding: 20px 0px;
}

.contact_form_input
{
	width: 50%;
	display: block;
	margin: 5% auto;
	padding: 20px 5px;
	background-color:#1B1B1B;
	border: 3px solid #1B1B1B;
	outline: none;
	color: aliceblue;
	transition: all 0.5s ease-out;
}

.contact_form_input:focus
{
	border: 3px solid #BBBBBB;
}

textarea.contact_form_input
{
	resize: none;
	height: 120px;
}

.contect_form_submit
{
	color: gray;
	border: 0px;
	padding: 10px 50px;
	background-color:#1B1B1B; 
	border-radius: 20px;
	transition: all 0.5s ease-out;
}

.contect_form_submit:hover
{
	background-color: silver;
	transform: scale(1.1);
}


@media screen and (max-width:700px)
{
	.nav
	{
		position: relative;
		width: 100%;
		top: 90px;
		background-color: aliceblue;
		display:flex;
		flex-direction: column;
		opacity: 0.8;
		right: 0;
		z-index: 1;
	}
	
	.nav > a:hover
	{
		transform:scale(0.9);
	}
	
	
	.main_card_div
	{
		display: block;
	}
}
