@charset "utf-8";
/* CSS Document */

html , body 
{
	margin: 0;
	font-family:Verdana, Geneva, sans-serif;
}

.nav
{
	float: right;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    padding: 10px 5px;
}
